@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    -webkit-tap-highlight-color:transparent;
}
.hideScroll::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.home-card-image{
    background-image:url('https://shreethemes.in/doctris/layouts/assets/images/bg/01.jpg' );
  }
