@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    -webkit-tap-highlight-color:transparent;
}
.hideScroll::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.home-card-image{
    background-image:url('https://shreethemes.in/doctris/layouts/assets/images/bg/01.jpg' );
  }
.inputfield {
    @apply
    text-sm font-medium text-gray-900 border py-3 pl-3 rounded-md mb-3 bg-zinc-50 focus:outline-none focus:border-gray-500 block placeholder:font-extralight
}
.btn-primary{
    @apply
    bg-blue-500 rounded-md text-base font-bold text-white py-2 mb-3 focus:bg-blue-400 
}