
# DataBase
DATABASE_USER = ADD YOUR DATABASE USER
DATABASE_Password = ADD YOUR DATABASE PASSWORD 
CONNECTION_STRING = ADD YOUR DATABASE CONNECTION STRING 


# node environment
NODE_ENV = production
# NODE_ENV = development



# jwt configration
JWT_SECRET = this_is_very_secure_password_for_JWT
JWT_EXPIRES_IN = 90d


# node mailer
EMAIL_TO_SEND = ADD YOUR EMAIL YOU SEND EMAILS FROM
EMAIL_PASSWORD = ADD EMAIL'S PASSWORD

GOOGLE_CLIENT_ID = ADD YOU GOOGLE CLIENT ID
GOOGLE_CLIENT_SECRET = ADD YOU GOOGLE CLIENT SECRET

ADD YOUR STRIPE SECRET KEY
client=http://localhost:3000
